alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias cat=bat

alias fuvadd='
    curl -s https://pypi.org/simple/ | 
    grep -oP "(?<=simple/)[^/]+" |
    awk -F'/' "{print \$2}" |
    fzf -m --header "Use TAB to select/unselect, ENTER to install selection" --exact |
    xargs -I {} uv add {}'


scode() {
  aerospace focus --window-id "$(
    aerospace list-windows --all | awk -F'|' '
      $2 ~ /Code/ {
        split($3, a, "—")
        $3 = (length(a) > 1) ? a[2] : $3
        print $1 "|" $2 "|" $3
      }
    ' | \
    fzf --delimiter='|' --with-nth=3 | \
    awk -F'|' '{gsub(/^ +| +$/, "", $1); print $1}'
  )"
}

